<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./css/base.css">
        <link rel="stylesheet" href="./css/layout.css">
        <link rel="stylesheet" href="./css/modules.css">
    </head>
    <body>
        <main>
            <h1> Team Awesome's Book App </h1>
            <section>
                <form action="/search" method="post">
                    <legend>Search By Title or Author</legend>
                    <label>
                        <input type="text" name="search" default="Enter a title or author">
                    </label>
                    <label>Title
                        <input type="radio" name="search" value="title">
                    </label>
                    <label>Author
                        <input type="radio" name="search" value="author">
                    </label>
                    <button>Submit</button>
            </form>
            </section>
            <script src="app.js"></script
        </main>
    </body>
</html>