 
/* https://www.color-hex.com/color-palette/35448 */

i{
  cursor: pointer;
  color: #eabd90;
}

body{
  overflow-x: hidden;
  background: #8c99d4;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  margin: 0 auto;
  margin-bottom: 2em;
}


