
#title{
    background: #7e7fae;
    color: white;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-family: "Aclonica", sans-serif;;
    font-size: 20px;
    font-weight: bold;
}

#results{
    background-image: linear-gradient(to right, #8c99d4, #c8d3ff, #8c99d4);
    color: white;
    text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

article > img{
    border: thick outset #eabd90;
    border-radius: 5px;
    width: 40%;
    height: 10em;
}

article > h4{
    color: white;
    text-shadow: -1px -1px 1px #7e7fae, 1px -1px 1px #7e7fae, -1px 1px 1px #7e7fae, 1px 1px 1px #7e7fae;
    margin: 0 -4em;
    padding: .5em 0;
    font-family: "Sawarabi Mincho", sans-serif;
    font-size: 18px;
}

article > h6{
    margin: 0 -4em;
    font-family: "Sawarabi Mincho", sans-serif;
    font-style: italic;
    font-size: 12px;
}

article > p{
    max-height: 5.5em;
    overflow: auto;
    margin: 0 -4em;
    padding: .5em ;
    text-align: justify;
    font-size: 12px;
    line-height: 1.5em;
}

#text{
    text-align: center;
    display: block;
    background: white;
    border: thick inset #eabd90;
    border-radius: 1em;
    font-size: 24px;
    margin: 1.5em auto 1em auto;
    padding: 1em 3em;
}

label{
    text-align: center;
    display: block;
    background: #c8d3ff;
    color: white;
    text-shadow: -1px -1px 1px #7e7fae, 1px -1px 1px #7e7fae, -1px 1px 1px #7e7fae, 1px 1px 1px #7e7fae;
    border: thick outset #eabd90;
    border-radius: 1em;
    font-size: 24px;
    font-weight: bold;
    margin: .5em auto;
    padding: 1em 6em;
}

button{
    cursor: pointer;
    text-align: center;
    display: block;
    background: #c8d3ff;
    color: white;
    box-shadow: inset 0 0 10px 5px #8c99d4;
    text-shadow: -1px -1px 1px #7e7fae, 1px -1px 1px #7e7fae, -1px 1px 1px #7e7fae, 1px 1px 1px #7e7fae;
    border: thick outset #eabd90;
    border-radius: 1em;
    font-family: "Sawarabi Mincho", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: .5em auto .5em auto;
    padding: .5em 1em;
}


