
i{
    cursor: pointer;
}

body{
    overflow-x: hidden;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: 20px;
}

#results{
    background: darkgray;
    color: white;
    padding: 1em;
    text-align: center;
}

main{
    min-width: 465px;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 2em;
}

main > section{
    background: grey;
    padding: 1.5em 1.5em;
}

article{
    border-radius: 2px;
    background: silver;
    box-shadow: 0 2px 8px rgba(0,0,0,.75);
    margin: 1.5em 0;
    padding: 1em 6em;
    text-align: center;
}

article > img{
    border: thick solid white;
    border-radius: 5px;
    width: 100%;
    height: 20em;
}

article > h4{
    color: white;
    text-shadow: 2px 0 2px rgba(0,0,0,.75);
    margin: 0 -4em;
    padding: .5em 0;
    font-size: 18px;
}

article > h6{
    margin: 0 -4em;
    font-style: italic;
    font-size: 12px;
}

article > p{
    max-height: 5.5em;
    overflow: auto;
    margin: 0 -4em;
    padding: .5em ;
    text-align: justify;
    font-size: 12px;
    line-height: 1.5em;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: black;
    color: grey;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em 0;
    font-size: 20px;
}

footer *{
    margin: 0 1.5em;
}