<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
    <link rel="stylesheet" type="text/css" href="/styles/layout.css" />
  </head>
  <body>
    <main>
      <h4> <%- include('components/nav') %> Error 404: Page not found</h4>
      <div>
        <img src='http://firstbaptistconway.com/assets/images/404Error.jpg'/>
      </div>
    </main>
  </body>

</html>