<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="./styles/reset.css">
        <link rel="stylesheet" href="./styles/base.css">
        <link rel="stylesheet" href="./styles/layout.css">
        <link rel="stylesheet" href="./styles/modules.css">
    </head>
    <body>
        <main>
        <h1> Team Awesome's Book App </h1>
        <h2></h2>
        <h3></h3>
        <h4></h4>
        <h5>Total</h5>
        <ul>
            <li>stuff</li>
            <div>more stuff</div>
            <img src=""/>
            <a href="">
    </div>            
            </li>
        </ul>
    </main>
    </body>
</html>