<!DOCTYPE html>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" href="./styles/reset.css">
        <link rel="stylesheet" href="./styles/base.css">
        <link rel="stylesheet" href="./styles/layout.css">
        <link rel="stylesheet" href="./styles/modules.css">
    </head>
    <body>
        <main>
        <h1> Team Awesome's Book App </h1>
        <h2></h2>
        <h3></h3>
        <h4></h4>
        <h5>Total</h5>
        <form action="/searches" method="post">
            <legend>Search Books</legend>
            <label>Search by Title
                <input type="radio" name="search" value="title">
            </label>
            <label>Search by Author
                <input type="radio" name="search" value="author">
            </label>
            <label>Search terms:
                <input type="text" name="search-string">
            </label>
            <button>Submit</button>
        </form>
    </main>
    </body>
</html>