<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <title>Show Books</title>
      <link rel="stylesheet" href="./styles/reset.css">
      <link rel="stylesheet" href="./styles/base.css">
      <link rel="stylesheet" href="./styles/layout.css">
      <link rel="stylesheet" href="./styles/modules.css">
    </head>
    <ul>
      <% searchResults.forEach(item => { %>
        <img src="<%=item.image%>">
        <p>Title: <%= item.title %></p>
        <p>Author: <%= item.authors.join(', ') %></p>
        <p>Description: <%= item.description %></p>
      <% }) %>
    </ul>
  </body>
</html>