<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <link rel="stylesheet" href="./css/reset.css">
      <link rel="stylesheet" href="./css/base.css">
      <link rel="stylesheet" href="./css/layout.css">
      <link rel="stylesheet" href="./css/modules.css">
    </head>
    <header>
        <title>Show Books</title>
      </section>
        <section id="title">
        <h1>Team Awesome's Book App</h1>
        <i class=""></i>
        <section id="results">
        <p>Search Results</p>
        </section>
    
    
    <main>
    <section>
      <% searchResults.forEach(item => { %>
        <article>
          <img src="<%=item.image%>">
          <p>Title: <%= item.title %></p>
          <p>Author: <%= item.authors.join(', ') %></p>
          <p>Description: <%= item.description %></p>
        </article>
      <% }) %>
    </section>
    </main>
  </body>
</html>